---
/* Layouts */
import Layout from '../layouts/Layout.astro';

/* Components */
import Nav from '../components/Nav.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
---

<Layout title='Teemu Kakko Film Photo Showcase'>
  <main>
    <Nav />
    <Header />
    <p class='text-center font-montserrat text-sm'>Content</p>
    <Footer />
  </main>
</Layout>
