---
---

<div class='absolute top-3 right-3'>
  <a href='./' class='font-montserrat text-xs sm:text-sm md:text-base underline'>Main page</a>
  <a href='./cameras.html' class='font-montserrat text-xs sm:text-sm md:text-base underline'>Cameras</a>
</div>
