---
import '@fontsource-variable/montserrat';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='theme-color' content='#001E1E'>
    <meta name='generator' content={Astro.generator} />

    <!-- Open Graph tags -->

    <!-- Favicon -->
    <link rel='apple-touch-icon' sizes='180x180' href='/film-v2/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/film-v2/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/film-v2/favicon-16x16.png'>
    <link rel='manifest' href='/film-v2/site.webmanifest'>

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
