---
import '@fontsource-variable/montserrat';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />

    <!-- Favicon -->
    <link rel='icon' type='image/svg+xml' href='/film-v2/favicon.svg' />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
